<!DOCTYPE html>
<html lang="en">
<!-- HEAD-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Handemdowns</title>
    <link rel="shortcut icon" href="../../static/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../../static/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css" media="screen" />
    <link rel="stylesheet" href="../../static/css/plugins.min.css" media="screen" />
    <link rel="stylesheet" href="../../static/css/handemdowns.min.css" media="screen" />
</head>
<!-- HEAD -->

<div id="preloader" data-th-fragment="preloader">
    <div id="status">&nbsp;</div>
</div>
<body>

<!-- COMMON JAVASCRIPT -->
<script src="../../static/js/library/jquery-2.2.4.min.js"></script>
<script src="../../static/js/bootstrap/bootstrap.min.js"></script>
<script src="../../static/js/handemdowns.min.js"></script>
<!-- / COMMON JAVASCRIPT -->

</body>
</html>