<!DOCTYPE html>
<html lang="en">
<!-- HEAD-->
<head data-th-replace="fragments/head :: head('500 Error')">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Handemdowns</title>
    <link rel="shortcut icon" href="../../static/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../../static/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css" media="screen" />
    <link rel="stylesheet" href="../../static/css/plugins.min.css" media="screen" />
    <link rel="stylesheet" href="../../static/css/handemdowns.min.css" media="screen" />
</head>
<!-- HEAD -->

<!-- PRELOADER -->
<div data-th-replace="fragments/preloader :: preloader"></div>
<!-- / PRELOADER -->

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TT9PGN2"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="paper-back">
    <div class="absolute-center">
        <div class="text-center">
            <img src="../../static/images/logo.png" data-th-src="@{/images/logo.png}" class="img-responsive center-block" alt="Home" width="286" height="61" />
            <h2>Server Error</h2>
            <p>Oops an error occued...<br />Or maybe someone spilt coffee on the server.</p>
            <a href="/" data-th-href="@{/}" class="btn btn-primary">Home</a>
        </div>
    </div>
</div>
<a href="#" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false"><i class="fa fa-angle-double-up"></i></a>

<!-- COMMON JAVASCRIPT -->
<script src="../../static/js/library/jquery-2.2.4.min.js" data-th-src="@{/js/library/jquery-2.2.4.min.js}"></script>
<script src="../../static/js/bootstrap/bootstrap.min.js" data-th-src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script src="../../static/js/handemdowns.min.js" data-th-src="@{/js/handemdowns.min.js}"></script>
<!-- / COMMON JAVASCRIPT -->

</body>
</html>