<!DOCTYPE html>
<html lang="en">
<!-- HEAD-->
<head data-th-replace="fragments/head :: head('Register')">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Handemdowns</title>
    <link rel="shortcut icon" href="../static/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../static/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" media="screen" />
    <link rel="stylesheet" href="../static/css/plugins.min.css" media="screen" />
    <link rel="stylesheet" href="../static/css/handemdowns.min.css" media="screen" />
</head>
<!-- HEAD -->

<!-- PRELOADER -->
<div data-th-replace="fragments/preloader :: preloader"></div>
<!-- / PRELOADER -->

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TT9PGN2"
				  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- SOCIAL ICONS -->
<div class="ssk-sticky ssk-left ssk-center ssk-lg" data-th-fragment="social-icons">
	<a href="https://www.facebook.com/handemdowns" class="ssk ssk-facebook"></a>
	<a href="https://www.twitter.com/handemdowns" class="ssk ssk-twitter"></a>
	<a href="https://plus.google.com/" class="ssk ssk-google-plus"></a>
</div>
<!-- / SOCIAL ICONS -->

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-lg-2 centering">
			<h1 class="title-no-underline text-center">Create an account with us</h1>
			<a href="/" data-th-href="@{/}"><img src="../static/images/logo.png" class="center-block img-responsive" data-th-src="@{/images/logo.png}" alt="Handemdowns" width="357" height="76" /></a>
			<div class="panel-body">

				<!-- STATUS MESSAGES -->
				<div class="alert alert-success collapse">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Success!</strong> An Account Verification email has been sent, please check your email!
				</div>
				<div class="alert alert-danger collapse">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Error!</strong> An account with that email address already exists.
				</div>
				<!-- / STATUS MESSAGES -->

				<!-- REGISTRATION FORM -->
				<form id="register-form" class="form-horizontal" action="#" data-th-action="@{/register}" data-th-object="${newUserForm}" method="post"
					  data-fv-addons="reCaptcha2" data-fv-addons-recaptcha2-sitekey="6LcS_QoUAAAAAE6h7mzI3jiEx9HTOm9N5jHWE09x"
					  data-fv-addons-recaptcha2-element="captcha-container" data-fv-addons-recaptcha2-message="The captcha is not valid"
					  data-fv-live="disabled">
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Email" data-th-field="*{email}"
							   data-fv-notempty="true" data-fv-notempty-message="Email is required and cannot be empty"
							   data-fv-emailaddress-message="Not a valid email address"
							   data-fv-stringlength="true" data-fv-stringlength-min="5" data-fv-stringlength-max="50" data-fv-stringlength-message="Email must be 5-50 characters long" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Name" data-th-field="*{name}"
							   data-fv-notempty="true" data-fv-notempty-message="Name is required and cannot be empty"
							   data-fv-stringlength="true" data-fv-stringlength-max="50" data-fv-stringlength-message="Name must be less than 50 characters long" />
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password" data-th-field="*{password}"
							   data-fv-notempty="true" data-fv-notempty-message="The password is required and cannot be empty"
							   data-fv-different="true" data-fv-different-field="email" data-fv-different-message="The password cannot be the same as email"
							   data-fv-stringlength="true" data-fv-stringlength-min="5" data-fv-stringlength-max="30" data-fv-stringlength-message="Password must be 5-50 characters long" />
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Confirm Password" data-th-field="*{matchingPassword}"
							   data-fv-notempty="true" data-fv-notempty-message="The confirm password is required and cannot be empty"
							   data-fv-different="true" data-fv-different-field="email" data-fv-different-message="The password cannot be the same as email"
							   data-fv-stringlength="true" data-fv-stringlength-min="5" data-fv-stringlength-max="50" data-fv-stringlength-message="Password must be 5-50 characters long"
							   data-fv-identical="true" data-fv-identical-field="password" data-fv-identical-message="The password and confirm password are different" />
					</div>
					<div class="form-group">
						<div id="captcha-container"></div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-submit fill-width" data-loading-text="&lt;i class='fa fa-spinner fa-spin'&gt;&lt;/i&gt; Please wait...">Register</button>
					</div>
				</form>
				<!-- / REGISTRATION FORM -->

				<div>
					<a class="pull-left" href="login.html" data-th-href="@{/login}">Sign In</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- COMMON JAVASCRIPT -->
<script src="../static/js/library/jquery-2.2.4.min.js" data-th-src="@{/js/library/jquery-2.2.4.min.js}"></script>
<script src="../static/js/bootstrap/bootstrap.min.js" data-th-src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script src="../static/js/handemdowns.min.js" data-th-src="@{/js/handemdowns.min.js}"></script>
<!-- / COMMON JAVASCRIPT -->

<!-- PAGE JAVASCRIPT -->
<script src="../static/js/plugins/formvalidation/formValidation.min.js" data-th-src="@{/js/plugins/formvalidation/formValidation.min.js}"></script>
<script src="../static/js/plugins/formvalidation/framework/bootstrap.min.js" data-th-src="@{/js/plugins/formvalidation/framework/bootstrap.min.js}"></script>
<script src="../static/js/plugins/formvalidation/addons/reCaptcha2.min.js" data-th-src="@{/js/plugins/formvalidation/addons/reCaptcha2.min.js}"></script>
<!-- / PAGE JAVASCRIPT -->

<script>
	$(document).ready(function() {
	    // Register Form
		$('#register-form').formValidation().on('success.form.fv', function(e) {
			e.preventDefault();
			$('.btn-submit').button('loading');
			$('.alert').hide();

			var $form = $(e.target);
			$.post($form.attr('action'), $form.serialize(), function(response) {
				if (response.status == "success") {
                    $('#register-form').data('formValidation').resetForm(true);
                    FormValidation.AddOn.reCaptcha2.reset('captcha-container');
					$('.alert-success').fadeIn();
				}
			}).fail(function() {
				$('.alert-danger').fadeIn();
			}).always(function() {
				$('.btn-submit').button('reset');
			});
		});
	});
</script>
</body>
</html>